# R Programming Basics for Data Science: edX course MODULE 1 - 2

## **MODULE 1**

### **1.1 Basic data types**

In R, integer numbers are written with an uppercase L suffix, for example, 0L or 1L.

In [2]:
class(1L)

In [3]:
is.integer(1L)

**Numeric**
* Integes and decimals

In [4]:
class(1)

In [5]:
is.numeric(1)

**Character - textual data**

In [6]:
class("A")

In [7]:
is.character("test@test.com")

**Logical**
* TRUE
* FALSE

In [8]:
class(TRUE)

In [9]:
is.logical(FALSE)

#### Common conversion scenarios

In [10]:
# integer to numeric
as.numeric(2L)

In [11]:
# numeric to integer
as.integer(2.2)

In [12]:
# numeric to character 
as.character(3)

In [13]:
# numeric character to numeric
as.numeric("3")

In [14]:
# non numeric character to numeric raaises error
# as.numeric("A")

In [15]:
# numeric to logical
as.logical(1)

In [16]:
# character to logical
as.logical("FALSE")

In [17]:
# logical to numeric
as.numeric(FALSE)

#### Other data types

* Complex: 1 + 2i - representing complex data
* Raw: 1c 2b 4f - representing binary or byte data.

### **1.2 Math, Variables, and String**

In [18]:
139 + 121

In [19]:
260 / 60

In [20]:
x <- 139 + 121
x

In [21]:
y <- x / 60
y

In [22]:
# variable reassignment
x <- 139 + 121
x

In [23]:
x <- x / 60
x

In [24]:
# remove variable
rm(x)

In [25]:
# check existence again
# raises error: object 'x' not found
# x

In [26]:
total <- 139 + 121
total

In [27]:
total_hr <- total1 / 60
total_hr

In [28]:
total_hr <- (139 + 121) / 60
total_hr

In [29]:
movie1 <- "Toy story"
movie1

### **1.3 R Environment**

In [30]:
print("Hello, world!")

In [31]:
x <- 1
y <- 2
sum <- x + y
sum

In [32]:
# list objects in the workspace
ls()

In [33]:
# return working directory
getwd()

In [34]:
# change working directory
setwd("/kaggle/working")

In [35]:
# save workspace
save.image("/kaggle/working.RData")

In [36]:
# load workspace
load("/kaggle/working.RData")

### **1.4 Hands-on Lab: Hello World with R using RStudio**

In [37]:
print("Hello, World!")

In [38]:
x <- 1
y <- 2
z <- x + y
z_char <- as.character(z)
print(z)
print(class(z))
print(z_char)
print(class(z_char))

### Writing and Running R in Jupyter Notebooks (

In [39]:
139 + 121

In [40]:
260 / 60

In [41]:
x <- 139 + 121
x

In [42]:
class(x)

In [43]:
x_char <- as.character(x)
x_char

In [44]:
class(x_char)

In [45]:
x_num <- as.numeric(x_char)
x_num

In [46]:
class(x_num)

In [47]:
y <- x / 60
y

In [48]:
total <- 139 + 121
total

In [49]:
total_hr <- total / 60
total_hr

In [50]:
total_hr <- (139 + 121) / 60
total_hr

In [51]:
(139 - 121) * 60

In [52]:
# strings
movie <- "Toy story"

In [53]:
class(movie)

In [54]:
# raises error
# as.numeric(movie)

## **MODULE 2**

### **2.1 Vectors and Factors**

### Vectors

A single dimensional structure containing data of the same type (strings, chracters, integers etc.)

#### Numeric vectors

In [55]:
runtimes <- c(81, 125) / 60
runtimes

In [56]:
# method 1 to create a vector
numbers1 <- c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [57]:
# method 2 to create a vector
numbers2 <- c(1:10)
numbers2

In [58]:
# decreasing order
numbers3 <- c(10:1)
numbers3

In [59]:
years <- c(2001, 2002, 2003, 2004)
years

### Character vectors

In [60]:
titles <- c("Toy Story", "Akira", "The Artist", "City of God")
titles

### Logical vectors

In [61]:
movie_ratings <- c(7.3, 8.5, 8.3, 7.5, 6.9, 5.2, 8.2, 8.0, 7.9, 9.3)
movie_ratings > 7.3

### Factors

A single dimensional structure containing data of the same type (strings, chracters, integers etc.)

Factors contain categorical data. There are two types of factors:
* Nominal categorical variables have no implied order such as movie genres.
* Ordinal variables have ordering such as movie length

In [62]:
genre_vector <- c("Comedy","Comedy", "Animation", "Animation", "Crime")
# convert vector to nominal factor
genre_factor <- factor(genre_vector)
print("This is a vector:")
genre_vector
print("This is a nominal factor:")
genre_factor

In [63]:
class(genre_vector)

In [64]:
class(genre_factor)

In [65]:
# summary of vector
summary(genre_vector)

In [66]:
# summary of factor
summary(genre_factor)

In [67]:
movielength_vector <- c("Very short", "Short", "Medium", "Short",
                        "Long", "Very short", "Very long", "Very long")
movielength_vector

In [68]:
# convert a vector to ordinal factor
movielength_factor <- factor(movielength_vector, ordered=TRUE,
                             levels = c("Very short", "Short", "Medium", "Long", "Very long"))
movielength_factor

### **2.2 Vector Operations**

In [69]:
year <- c(1985, 1999, 2010, 2002)

In [70]:
# name the elements of a vector
names(year) <- c("The Breakfast Club", "American Beauty", "Black Swan", "Chicago")

In [71]:
year["The Breakfast Club"]

In [72]:
# return the length of a vector
length(year)

In [73]:
# sort a vector
year_sorted <- sort(year)
year_sorted

In [74]:
# find the smallest / largest number
print("Smallest number in the vector: ")
min(year)
print("Largest number in the vector: ")
max(year)

In [75]:
# return the total of numbers
cost_2014 <- c(8.6, 8.5, 8.1)
sum(cost_2014)

In [76]:
# return the average of numbers
average_cost1 <- sum(cost_2014) / 3
average_cost1

In [77]:
# return the average of numbers
average_cost2 <- mean(cost_2014)
average_cost2

In [78]:
# vector summary
summary(cost_2014)

In [79]:
# vector index
# return a single value
cost_2014[2]

In [80]:
# vector index
# return multiple values
cost_2014[c(2, 3)]

In [81]:
# vector index
# return a range of values
cost_2014[1:3]

In [82]:
# return negative index values
titles <- c("Black Swan", "Casino", "City of God", "Jumanji", "Toy Story")
titles[-1]

In [83]:
# out of range index
titles[8]

In [84]:
# Conditional index
cost_2014
cost_2014 > 8.3

In [85]:
cost_2014[cost_2014 > 8.3]

In [86]:
# missing values - NA
age_restriction1 <- c(14, 12, 10, NA, 18, NA)
age_restriction1

In [87]:
# vector arithmetic
# multiply two vectors
age_restriction2 <- c(14, 16, 12, 10, 18, 18)
sequences <- c(2, 3, 0, 2, 6, 3)
multiply <- age_restriction2 * sequences
multiply

In [88]:
# multiply a vector by a number
cost_2014 * 10

### **2.3 Hands-on Lab: Vectors and Factors in R Studio**

---
* title: " Vectors and Factors"
* output: 
*   html_document:
*     toc: true
*     toc_depth: 2
*     number_sections: true
---

In [89]:
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/M2_Data_Structures/lab1_rmd_vectors_factors.rmd"
download.file(url, destfile = "lab1_rmd_vectors_factors.rmd")

In [90]:
required <- c("dplyr", "knitr")

for (i in required) {
    if (!require(i, character.only = T)) {
        install.packages(i, character.only = T)
    }
    library(i, character.only = T)
}


**Welcome!**

By the end of this notebook, you will have learned about **vectors and factors**, two very important data structures in R.

Estimated time needed: **30** minutes


# Objectives

After completing this lab you will be able to:
-  Understand the data structure of vector and factor in R.
-  Perform vector and factor operations in R.


# About the Dataset

Suppose you have received many movie recommendations from your friends and compiled all of the recommendations into a table, with information about each movie. 

This table has one row for each movie and several columns.

-   **name** - The name of the movie;
-   **year** - The year the movie was released;
-   **length_min** - The length of the movie in minutes;
-   **genre** - The genre of the movie;
-   **average_rating** - Average rating on Imdb;
-   **cost_millions** - The movie's production cost in millions;
-   **foreign** - Indicative of whether the movie is foreign (1) or domestic (0);
-   **age_restriction** - The age restriction for the movie;

Here's what the data looks like:

In [91]:
"https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/dataset/movies-db.csv" %>% read.csv() %>% head(n = 10) %>% knitr::kable()

# Vectors
**Vectors** are collections of numbers, characters or logical data organized in one-dimensional arrays. In other words, a vector is a simple tool to store your grouped data, element by element.

In R, you create a vector with the "combine function" (`c()`). Then, you place its elements separated by commas as its arguments. 

Vectors will be handy in the future as they allow you to efficiently apply operations on a series of data. 

Note that the elements in a vector must be of the same class. For example, all should be either number, character, or logical.


## Numeric Vectors
Let's say we have four movie release dates (1985, 1999, 2015, 1964), and we want to assign them to a single variable, `release_year`. This means we'll need to create a vector using the `c()` function to combine them.

Using numbers, this becomes a **numeric vector**.

In [92]:
release_year <- c(1985, 1999, 2015, 1964)
release_year

## Character Vectors
What if we put strings as arguments for `c()` function? Then this becomes a **character vector**.

In [93]:
titles <- c("Toy Story", "Akira", "The Breakfast Club")
titles

## Logical Vectors
There are also **logical vectors**, which consist of `TRUE`s and `FALSE`s. They're particular important when you want to apply element-wise predicates.

In [94]:
titles == "Akira" # which item in `titles` is equal to "Akira"?

## Coding Exercise 1 
In the code cell below, find which item in `titles` equals to "Toy Story"

In [95]:
# Write your code below. Don't forget to press Shift + Enter to execute the cell
titles == "Toy Story"

## [Tip] `TRUE` and `FALSE` in R

Did you know? R only recognizes `TRUE`, `FALSE`, `T` and `F` as special values for true and false. That means all other spellings, including `True` and `true`, are not interpreted by R as logical values.

## Adding more elements to a vector
You can add more elements to a vector with the same `c()` function you use to create vectors:

In [96]:
release_year1 <- c(1985, 1999, 2015, 1964)
release_year1
release_year2 <- c(release_year1, 2016:2018)
release_year2

## Length of a vector
How do we check how many items there are in a vector? We can use the `length()` function:

In [97]:
release_year1
length(release_year1)

## Head and Tail of a vector
We can also retrieve just the **first few items** using the `head()` function. By default, the first six items of the vector is returned.

In [98]:
head(release_year2) # first six items

We can specify the number of items in the vectors to be returned with `n` parameter of function `head()`.

In [99]:
head(release_year2, n = 2) # first 2 items
# The following line also works as n is the 2nd parameter of function "head".
head(release_year2, 2)

We can also retrieve just the **last few items** using the `tail()` function. Similar to `head()` function, it returns the last six items of a vector by default:

In [100]:
tail(release_year2) # last six items

We can specify the number of items in the vectors to be returned with `n` parameter of function `tail()`

In [101]:
tail(release_year2, n = 2)
tail(release_year2, 2) # last two items

## Sorting and Extremum of Vectors

We can also sort a vector:

In [102]:
sort(release_year2)

We can also **sort in decreasing order**:

In [103]:
sort(release_year2, decreasing = TRUE)

But if you just want the minimum and maximum values of a vector, you can use the `min()` and `max()` functions:

In [104]:
min(release_year2)
max(release_year2)

## Average of Numbers
If you want to check the average cost of movies produced in 2014, what would you do? 

Of course, one way is to add all the numbers together, then divide by the number of movies:

In [105]:
cost_2014 <- c(8.6, 8.5, 8.1)

# sum results in the sum of all elements in the vector
avg_cost_2014 <- sum(cost_2014) / 3
avg_cost_2014

You also can use the `mean()` function to find the average of the numeric values in a vector:

In [106]:
mean_cost_2014 <- mean(cost_2014)
mean_cost_2014

## Giving Names to Values in a Vector
Suppose you want to remember which year corresponds to which movie.

With vectors, you can give names to the elements of a vector using the `names()` function:

In [107]:
#Creating a year vector
release_year3 <- c(1985, 1999, 2010, 2002)

#Assigning names
names(release_year3) <-
  c("The Breakfast Club", "American Beauty", "Black Swan", "Chicago")

release_year3

Now, you can retrieve the values based on the names:

In [108]:
release_year3[c("American Beauty", "Chicago")]

Note that the values of the vector are still the years. We can see this in action by adding a number to the first item:

In [109]:
release_year2[1] + 100 #adding 100 to the first item changes the year

And you can retrieve the names of the vector using `names()`:

In [110]:
names(release_year3)

## Coding Exercise 2
In the code cell below, calculate the release year difference between 'Black Swan' and 'The Breakfast Club':

In [111]:
difference <- release_year3["Black Swan"] - release_year3["The Breakfast Club"]
difference

## Summarizing Vectors
You can also use the `summary()` function for simple descriptive statistics: minimum, first quartile, median, mean, third quartile, maximum:

In [112]:
summary(cost_2014)


## Using Logical Operations on Vectors
A vector can also be comprised of `TRUE` and `FALSE`, which are the **logical values** in R. These boolean values are used to indicate whether a condition is true or false.  

Let's check whether a movie year of 1997 is newer than (**greater in value than**) one made in 2000.

In [113]:
movie_year <- 1997
movie_year > 2000

You can also make a logical comparison across multiple items in a vector. Which movie release years here are "greater" than 2014?

In [114]:
movies_years <- c(1998, 2010, 2016)
movies_years > 2014

We can also check for **equivalence**, using `==` operator. Let's check which movie year is equal to 2015.

In [115]:
movies_years == 2015 # is equal to 2015?

If you want to check which ones are **not equal** to 2015, you can use `!=` operator:

In [116]:
movies_years != 2015

### **[Tip]** Logical Operators in R

You can do a variety of logical operations in R including:

- Checking equivalence ($=$) -- R command `x == y` returns `TRUE` if variables `x` and `y` share the same value or otherwise `FALSE`.
- Checking non-equivalence ($\neq$) -- R command `x != y` returns `FALSE` if variables `x` and `y` share the same value or otherwise `TRUE`.
- Greater than ($>$) -- R command `x > y` returns `TRUE` if variable `x` has a greater value compared to `y` or otherwise `FALSE`.
- Greater than or equal to ($\geqslant$) -- R command `x >= y` returns `TRUE` if variable `x` has a value that is greater than or equal to that of the variable `y`, and `FALSE` otherwise. 
- Less than ($<$) -- R command `x < y` returns `TRUE` if variable `x` has a smaller value compared to `y` or otherwise `FALSE`.
- Less than or equal to ($\leqslant$) -- R command `x <= y` returns `TRUE` if variable `x` has a value that is smaller than or equal to that of the variable `y`, and `FALSE` otherwise.

# Subsetting Vectors 
What if you wanted to retrieve the second year from the following **vector of movie years**?

In [117]:
movie_years <- c(1985, 1999, 2002, 2010, 2012)
movie_years

## Retreiving entries of vectors at specified index(es)
To retrieve the **second year**, you can use square brackets `[]` and place the index inside:

In [118]:
movie_years[2] # The second item

Similarly, to retrieve the **third year**, you can use the following line:

In [119]:
movie_years[3] # The third item

And if you want to retrieve **multiple items**, you can pass in a vector of indexes to the square brackets `[]`:

In [120]:
movie_years[c(1, 3)] # The first and third items

You can also get a sequential subset as follows:

In [121]:
movie_years[c(2:4)] # The second to the fourth items

or, more succinctly:

In [122]:
movie_years[2:4]

## Reverse Selection
To retrieve a vector without one or more items, you can use negative indexing. For example, the following returns a vector slice **without the first item**.

In [123]:
titles <-
  c("Black Swan", "Jumanji", "City of God", "Toy Story", "Casino")
titles[-1]

You can assign the new vector to a new variable:

In [124]:
new_titles <- titles[-1] # removes "Black Swan", the first item of vector 'titles'
new_titles

## Missing Values (`NA`)
Sometimes values in a vector are missing and you have to show them using `NA`, which is a special value in R for "Not Available". For example, if you don't know the age restriction for some movies, you can use `NA`.

In [125]:
age_restric <- c(14, 12, 10, NA, 18, NA)
age_restric

### [Tip] Checking `NA`s in R
You can check if a value is NA by using the `is.na()` function, which returns `TRUE` or `FALSE`. 

- Check if a value / variable is `NA`: `is.na(NA)`
- Check if a value / variable is NOT `NA`:  `!is.na(2)`

## Subsetting vectors based on a logical condition
What if we want to know which movies were created after year 2000? We can simply apply a logical comparison across all the items in a vector:

In [126]:
release_year3 > 2000

When passing in a vector of booleans to a vector `x` with the same length, a subset of `x` with entries at `TRUE`s in the vector of booleans will be returned. For example, the returned vector of booleans above has `TRUE` at indexes of `release_year` where the year is strictly greater than 2000. To retrieve the actual movie years after year 2000, you can simply place logical vector in the **square brackets** `[]`:

In [127]:
release_year3[release_year3 > 2000] # returns a vector for elements that returned TRUE for the condition

As you may notice, subsetting vectors in R works by retrieving items that were TRUE for the provided condition. For example, `year[year > 2000]` can be verbally explained as: 
  
> "From the vector `year`, return only values where the values are TRUE for `year > 2000`"
You can even manually write out `TRUE` or `T` for the values you want to subset:

You can even manually write out `TRUE` or `T` for the values you want to subset:

In [128]:
release_year3
release_year3[c(T, F, F, F)] #returns the values for which the value's index is TRUE

## Coding Exercise 3

In the code cell below, find movies whose release year in or prior to and including year 1999.

In [129]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
release_year3[release_year3 <= 1999]

# Factors
Factors are variables in R which take values from a fixed, discrete set of values or levels. Such variables are commonly being referred to as **categorical variables**. 

The difference between a categorical variable and a numeric variable is that a categorical variable expresses qualitative values -- attributes such as "age group", "gender", or "favourite music genre", while numerical variables communicate quantitative information  data that can be interpreted mathematically, such as "fuel economy in MPG", "price per bushel" and "age". In addition, numerical variables can be either continuous or discrete. 

For example, the height of a tree is a continuous numeric variable, while the number of books held in a particular library is a discrete numerical variable. The various species of animals on earth are (nominal) categorical variables. Categorical variables need not be expressed as text. Indeed, factors in R are actually stored as a vector of integer values  they carry a corresponding set of character values, but these are only used for display purposes.

One of the most critical uses of factors is in statistical modelling. Since categorical variables are being handled by statistical models differently than continuous variables, storing data as factors ensures that the modelling functions will treat such data correctly.

Let's start with a vector of genres:

In [130]:
genre_vector <- c("Comedy", "Animation", "Crime", "Comedy", "Animation")
genre_vector

As you may have noticed, you can theoretically group the items above into three categories of genres: *Animation*, *Comedy* and *Crime*. In R-terms, we call these categories **factor levels**.

The function `as.factor()` converts a vector into a factor, and creates a factor level for each unique element.

In [131]:
genre_factor <- as.factor(genre_vector)
levels(genre_factor)

## Summarizing Factors
When you have a large vector, it becomes difficult to identify which levels are most common (e.g., "How many 'Comedy' movies are there?").

To answer this, we can use `summary()`, which produces a **frequency table**, as a named vector.

In [132]:
summary(genre_factor)

And recall that you can sort the values of the table using **sort()**.

In [133]:
sort(summary(genre_factor)) #sorts values by ascending order

## Ordinal Factors
There are two types of categorical variables: **nominal categorical variable** and **ordinal categorical variable**.

A **nominal variable** is a categorical variable for names, without an implied order. This means that it is impossible to say that 'one is better or larger than the other'. For example, consider `movie_genre` with the categories *Animation*, *Comedy* and *Crime*. Here, there is no implicit order of low-to-high or high-to-low between the categories. 

In contrast, **ordinal variables** do have a natural ordering. Consider for example, `movie_length` with the categories: *Very short*, *Short* , *Medium*, *Long*, *Very long*. Here it is obvious that *Medium* stands above *Short*, and *Long* stands above *Medium*.

In [134]:
movie_length <- c("Very Short",
                  "Short",
                  "Medium",
                  "Short",
                  "Long",
                  "Very Short",
                  "Very Long")
movie_length

`movie_length` should be converted to an ordinal factor since its categories have a natural ordering. By default, the function `factor()` transforms `movie_length` into an unordered factor. 

To create an **ordinal factor**, you have to add two additional arguments: `ordered` and `levels`. 

-   `ordered`: When set to `TRUE` in `factor()`, you indicate that the factor is ordered. 
-   `levels`: In this argument in `factor()`, you give the values of the factor in the correct order.

In [135]:
movie_length_ordered <- factor(
  movie_length,
  ordered = TRUE,
  levels = c("Very Short", "Short", "Medium", "Long", "Very Long")
)
movie_length_ordered

Now, lets look at the summary of the ordered factor, `movie_length_ordered`:

In [136]:
summary(movie_length_ordered)

# Coding Exercise 4
In the code cell below, update the order of the movie_length factor from "Very Long" to "Very Short".

In [137]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell'
movie_length_ordered_updated <- factor(
  movie_length_ordered,
  ordered = TRUE,
  levels = c("Very Long", "Long", "Medium", "Short", "Very Short")
)
movie_length_ordered_updated

### **2.4 Lists**

In [138]:
movies1 <- list("Toy story", 1995, c("Animation", "Adventure", "Comedy"))
movies1

In [139]:
movies1[2]

In [140]:
movies1[2:3]

In [141]:
# named lists
movies2 <- list(name = "Toy story",
               year = 1995,
               genre = c("Animation", "Adventure", "Comedy"))
movies2

In [142]:
# accessing named lists
movies2$genre

In [143]:
# accessing named lists
movies2["genre"]

In [144]:
# add new item
movies2["age"] <- 5

In [145]:
movies2

In [146]:
# modify existing item
movies2["age"] <- 6

In [147]:
movies2

In [148]:
# get the first value inside another value of a list
movies2$genre[1]

In [149]:
# removing items
movies2["age"] <- NULL

In [150]:
movies2

### **2.5 Arrays and matrices**

**Arrays**

A single or multidimensional structure containing data of the same type (strings, chracters, integers etc.)

In [151]:
movie_vector <- c("Akira", "Toy Story", "Room", "The Wave", "Whiplash",
                  "Starwars", "The Ring", "The Artist", "Jumanji")

In [152]:
movie_array <- array(movie_vector, dim = c(4, 3)) # c(row, column)
movie_array

In [153]:
# get a specific element
movie_array[1, 3] # Jumanji
movie_array[4, 3] # Room

In [154]:
# get an entire row
movie_array[1, ]

In [155]:
# get an entire column
movie_array[, 2]

# Matrices

In [156]:
A two dimensional structure containing data of the same type (strings, chracters, integers etc.)

In [ ]:
movie_vector <- c("Akira", "Toy Story", "Room", "The Wave", "Whiplash",
                  "Starwars", "The Ring", "The Artist", "Jumanji")

In [ ]:
# by default the organization of a matrix is by column
movie_matrix1 <- matrix(movie_vector, nrow = 3, ncol = 3)
movie_matrix1

In [ ]:
# change the organization to be by row
movie_matrix2 <- matrix(movie_vector, nrow = 3, ncol = 3, byrow = TRUE)
movie_matrix2

In [ ]:
# accessing a matrix
movie_matrix1[2:3, 1:2]

### **2.6 Hands-on Lab: Arrays and Matrices in R Studio**

In [ ]:
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/M2_Data_Structures/lab2_rmd_arrays_matrics.Rmd"
download.file(url, destfile = "lab2_rmd_arrays_matrics.Rmd")

* title: "Arrays and Matrices"
* output: 
*   html_document:
*     toc: true
*     toc_depth: 2
*     number_sections: true

In [ ]:
required = c("tidyverse")

for (i in required) {
  if (!require(i, character.only = T)) {
    install.packages(i, character.only = T)
  }
  library(i, character.only = T)
}

Estimated time needed: **20** minutes

# Objectives

After completing this lab you will be able to:

-   Understand what is an array by coding practices
-   Operate on arrays
-   Understand what is a matrix by coding practices
-   Operate on matrices

# About the Dataset

You have received many movie recommendations from your friends and compiled all of the recommendations into a table, with information about each movie. 

This table has one row for each movie and several columns.

-   **name** - The name of the movie;
-   **year** - The year the movie was released;
-   **length_min** - The length of the movie in minutes;
-   **genre** - The genre of the movie;
-   **average_rating** - Average rating on Imdb;
-   **cost_millions** - The movie's production cost in millions;
-   **foreign** - Indicative of whether the movie is foreign (1) or domestic (0);
-   **age_restriction** - The age restriction for the movie;

Here's what the data looks like:

In [ ]:
"https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/dataset/movies-db.csv" %>%
read.csv() %>%
head(n = 10) %>%
knitr::kable()

# What is an Array?
An array is a data structure that holds values grouped together, like a $2 \times 2$ table of 2 rows and 2 columns. Arrays can also be **multidimensional**, such as a $2 \times 2 \times 2$ array.

## What is the difference between an array and a vector?
Vectors are always one dimensional like a single row/column of data. On the other hand, an array can be multidimensional (stored as rows and columns). The "dimension" indicates how many rows of data there are.

## Let's create a 4 x 3 array (4 rows, 3 columns)
The example below is a vector of 9 movie names, hence the data type is the same for all the elements.movie_vector <-
  c(
    "Akira",
    "Toy Story",
    "Room",
    "The Wave",
    "Whiplash",
    "Star Wars",
    "The Ring",
    "The Artist",
    "Jumanji"
  )
movie_vector

In [ ]:
movie_vector <-
  c(
    "Akira",
    "Toy Story",
    "Room",
    "The Wave",
    "Whiplash",
    "Star Wars",
    "The Ring",
    "The Artist",
    "Jumanji"
  )
movie_vector

To create an array, we can use the `array` function.

In [ ]:
movie_array <- array(movie_vector, dim = c(4, 3))
movie_array

Note that **arrays are filled in column-wise order**. Did you also notice that there were only 9 movie names, but the array was 4 x 3? The original **vector doesn't have enough elements** to fill up the entire array (that should have $3 \times 4 = 12$ elements). So R simply fills rest of the empty values by going back to the beginning of the vector and starting again ("Akira", "Toy story", "Room" in this case).

We also needed to provide `c(4, 3)` as a second argument to specify the dimension of the array we wanted, namely the number of rows (4) and columns (3).

## [Tip] What is an "argument"? How are "arguments" different from "parameters"?   
Arguments and parameters are terms you will hear constantly when talking about "functions".  

- The "parameters" are the input variables used in a function, like "dim" in the function "array()".   
- The "arguments" refer to the "values" for those parameters that a function takes as inputs, like "c(4, 3)"  

We actually don't need to write out the name of the parameter (dim) each time, as in `array(movie_vector, c(4, 3))`. As long as we write the arguments out in the correct order, R can interpret the code.  

Arguments in a function may sometimes need to be of a "specific type". For more information on each function, you can open up the help file by running the function name with a `?` beforehand, as in: `?array`

# Array Indexing
Let's look at our array again:

In [ ]:
movie_array

To access an element of an array, we should pass in `[row, column]` as the row and column index of that element. For example, here we retrieve "Whiplash" at row 1,column 2:

In [ ]:
movie_array[1, 2] #[row, column]

To display all the elements of the first row, we should put 1 in the row and nothing in the column part. Be sure to keep in the comma after the `1`.

In [ ]:
movie_array[1, ]

Likewise, you can get the elements by column as below.

In [ ]:
movie_array[, 2]

To get the dimension of the array, `dim()` should be used.

In [ ]:
dim(movie_array)

We can also do math on arrays. Let's create an array of the lengths of each of the nine movies used earlier.

In [ ]:
length_vector1 <- c(125, 81, 118, 81, 106, 121, 95, 100, 104)
length_array1 <- array(length_vector1, dim = c(3, 3))
length_array1

Let's add 5 to the array, to account for a 5-min bathroom break:

In [ ]:
length_array1 + 5

Note: operations on objects, like adding 5 to an array, does not change the object. To change the object, we would need to assign the new result to itself, i.e. `length_array = length_array + 5`.

## Coding Exercise 1
In the code cell below, create a new length vector with 12 elements and create a $4 \times 3$ array from it.

In [ ]:
length_vector2 <- c(100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210)
length_vector2

In [ ]:
length(length_vector2)

In [ ]:
length_array2 <- array(length_vector2, c(4, 3))
length_array2

# Using Logical Conditions to Subset Arrays
Which movies can I finish watching in two hours? Using a logical condition, we can check which movies are less than 2 hours long.

In [ ]:
mask_array <- length_array < 120
mask_array

Using this array of `TRUE`s and `FALSE`s, we can subset the array of movie names:

In [ ]:
x_vector <- c(
  "Akira",
  "Toy Story",
  "Room",
  "The Wave",
  "Whiplash",
  "Star Wars",
  "The Ring",
  "The Artist",
  "Jumanji"
)
x_array <- array(x_vector, dim = c(3, 3))

x_array[mask_array]

In [ ]:
class(x_array)

## Coding Exercise 2
In the code cell below, find all movie titles with length less than or equal to 90 minutes:

In [ ]:
mask_90 <- length_array <= 90
mask_90
x_array[mask_90]

# What is a Matrix?
Matrices are a special type of arrays. A matrix **must** have 2 dimensions, whereas arrays are more flexible and can have, one, two, or more dimensions.  

To create a matrix out of a vector , you can use `matrix()`, which takes in an argument for the vector, an argument for the number of rows and another for the number of columns.

In [ ]:
print("This is a vector: ")
movie_vector

print("This is a matrix")
movie_matrix <- matrix(movie_vector, nrow = 3, ncol = 3)
movie_matrix

In [ ]:
class(movie_matrix)

## Coding Exercise 3

In the code cell below, create a new length vector with 12 elements and create a $4 \times 3$ matrix from it.

In [ ]:
print("This is a vector: ")
length_vector3 <- c(1100, 1110, 1120, 1130, 1140, 1150, 1160, 1170, 1180, 1190, 1200, 1210)
length_vector3

print("This is a matrix: ")
length_matrix1 <- matrix(length_vector3, c(4, 3))
length_matrix1

In [ ]:
class(length_matrix1)

## Accessing elements of a matrix
As with arrays, you can use `[row, column]` to access elements of a matrix. To retrieve "Akira", you should use `[1, 1]` as it lies in the first row and first column.

In [ ]:
movie_matrix[1, 1]

To get data from a certain range, the following code can help. This takes the elements from rows 2 to 3, and from columns 1 to 2.

In [ ]:
movie_matrix[2:3, 1:2]

## Coding Exercise 4
In the code cell below, get the second row of the matrix `movie_matrix`.

In [ ]:
movie_matrix
print("Second row: ")
movie_matrix[2, ]

## Coding Exercise 5
In the code cell below, get the second column of the matrix `movie_matrix`.

In [ ]:
movie_matrix
print("Second column: ")
movie_matrix[, 2]

# Concatenation function
A concatenation function is used to combine two vectors into one vector. It combines values of both vectors.

Lets create a new vector for the upcoming movies as a `upcoming_movie` variable and add them to the `movie_vector` variable to create a `new_vector` of movies.

In [ ]:
print("This is a vector of old movies: ")
movie_vector
print("This is a vector of upcoming movies: ")
upcoming_movie <- c("Fast and Furious 8", "xXx: Return of Xander Cage", "Suicide Squad")
upcoming_movie
print("This is a vector containing both old and upcoming movies: ")
new_vector <- c(movie_vector, upcoming_movie)
new_vector

### **2.7 Data Frames**

In [158]:
name <- c("Toy Story", "Akira", "The Breakfast Club", "The Artist", "Modern times", "Fight club",
          "City of god", "The Untouchables")
year <- c(1995, 1998, 1985, 2011, 1936, 1999, 2002, 1987)

In [162]:
# creating a data frame
movies <- data.frame(name = c("Toy Story", "Akira", "The Breakfast Club", "The Artist", "Modern times", "Fight club",
          "City of god", "The Untouchables"),
                     year = c(1995, 1998, 1985, 2011, 1936, 1999, 2002, 1987)) 
movies

In [165]:
# Accessing a data frame
## accessing values of an individual column
print("Using `$` sign to access: ")
movies$name
print("Using `[]` sign to access: ")
movies[1]

In [166]:
# access an individual elements
movies[1, 2]

In [167]:
# data frame structure
str(movies)

In [170]:
# head of a dataframe
print("Default is 6: ")
head(movies)

In [171]:
# specify the number of rows to retrieve
head(movies, n = 8)

In [172]:
# tail of a dataframe
print("Default is 6: ")
tail(movies)

In [173]:
# specify the number of rows to retrieve
tail(movies, n = 8)

In [174]:
# inserting a new column
movies["length"] <- c(81, 125, 97, 100, 87, 139, 130, 119)

In [175]:
movies

In [179]:
# inserting a new row
movies <- rbind(movies, c(name = "Dr. Strangelove", year = 1964, length = 94))

In [180]:
movies

In [185]:
# deleting columns
movies["length"] <- NULL

In [186]:
movies

In [181]:
# deleting rows
movies <- movies[-9, ]

In [182]:
movies

### **2.8 Hands-on Lab: Lists and Dataframe in R Studio**

In [187]:
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/M2_Data_Structures/lab3_rmd_data_frame.Rmd"
download.file(url, destfile = "lab3_rmd_data_frame.Rmd")

* title: "List and Dataframe"
* output: 
*   html_document:
*     toc: true
*     toc_depth: 2
*     number_sections: true

In [188]:
required = c("tidyverse")

for (i in required) {
  if (!require(i, character.only = T)) {
    install.packages(i, character.only = T)
  }
  library(i, character.only = T)
}


Estimated time needed: **15** minutes

# Objectives
After completing this lab you will be able to:

- Understand the list and how list correlated with DataFrame
- Understand DataFrame
- Operate on DataFrames

# About the Dataset

You have received many movie recommendations from your friends and compiled all of the recommendations into a table, with information about each movie. 

This table has one row for each movie and several columns.

-   **name** - The name of the movie;
-   **year** - The year the movie was released;
-   **length_min** - The length of the movie in minutes;
-   **genre** - The genre of the movie;
-   **average_rating** - Average rating on Imdb;
-   **cost_millions** - The movie's production cost in millions;
-   **foreign** - Indicative of whether the movie is foreign (1) or domestic (0);
-   **age_restriction** - The age restriction for the movie;

Here's what the data looks like:

In [190]:
"https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/dataset/movies-db.csv" %>%
read.csv() %>%
head(n = 10) %>%
knitr::kable()

# Lists
First of all, we're gonna take a look at lists in R. 

A list is a sequenced collection of different objects of R, like vectors, numbers, characters, other lists and so on. You can consider a list as a container of correlated information, well structured, and easy to read with a context. 

A list accepts items of different types, but a vector (or a matrix, which is a multidimensional vector) doesn't. To create a list just type `list()` with your content inside the parenthesis and separated by commas. Lets try it!

In [1]:
movie <- list("Toy Story", 1995, c("Animation", "Adventure", "Comedy"))

In the code above, the variable movie contains a list of 3 objects, which are a string, a numeric value, and a vector of strings. 

Easy, eh? Now let's print the content of the list. We just need to call its name.

In [2]:
movie

## Accessing items in a list
It is possible to retrieve only a part of a list using the **single square** bracket operator `[ ]`. This operator can be also used to get a single element in a specific position. Take a look at the next example:

The index number 2 returns the second element of a list, if that length of list is at least 2:

In [3]:
movie[2]

Or you can select a part or interval of elements of a list. In our next example we are retrieving the 1st, 2nd, and 3rd elements:

In [4]:
movie[1:3]

## Named lists
It looks a little confusing, but lists can also store names for its elements. The following list is a named list:

In [5]:
movie <- list(
  name = "Toy Story",
  year = 1995,
  genre = c("Animation", "Adventure", "Comedy")
)

Let me explain that: the list **movie** has some named objects within it. **name**, for example, is an object of type **character**, **year** is an object of type **number**, and **genre** is a vector with objects of type **character**.

Now take a look at this list. This time, it's full of information and well organized. It's clear what each element means. You can see that the elements have different types, and that's ok because it's a list.

In [6]:
movie


You can also get separated information from the list. You can use `listName$selectorName`. The *dollar-sign operator* `$` will give you the block of data that is related to selector Name.

Let's get the genre part of our movies list, for example.

In [7]:
movie$genre

```{r}
movie$genre

Here is another way of selecting the genre column:

In [8]:
movie["genre"]

## Coding Exercise 1
In the code cell below, get the second element in the `genre` column

In [9]:
movie$genre[2]

You can also use numerical selectors like an array. Here we are selecting elements with indexes ranged from 2 to 3.

In [10]:
movie[2:3]

The function `class()` returns the type of a object. You can use that function to retrieve the type of specific elements of a list:

In [11]:
class(movie$name)

## Adding, modifying, and removing items
Adding a new element is also very easy. The code below adds a new field named **age** and puts the numerical value 5 into it. 

In this case we use the double square brackets operator, because we are directly referencing a list member (and we want to change its content).

In [12]:
movie[["age"]] <- 5
movie

In order to modify, you just need to refer a list member that already exists, then change its content.

In [13]:
movie[["age"]] <- 6
# Now it's 6, not 5
movie

And removing is also easy! You just put `NULL`, which means empty object, into it.

In [14]:
movie[["age"]] <- NULL
movie

## Coding Exercise 2:
In the code cell below, add a logical column with a name `WillWatch` with value `TRUE` or `T`.

In [15]:
movie[["WillWath"]] = TRUE
movie

## Concatenating lists
Concatenation is the process of putting things together, in sequence. And yes, you can do it with lists. Just call the function `c()`. Take a look at the next example:

In [16]:
# We split our previous list in two sublists
movie_part1 <- list(name = "Toy Story")
movie_part2 <- list(year = 1995, genre = c("Animation", "Adventure", "Comedy"))

# Now we call the function c() to put everything together again
movie_concatenated <- c(movie_part1, movie_part2)

# Check it out
movie_concatenated

Lists are really handy for organizing different types of elements in R, and also easy to use. 

Additionally, lists are also important since this type of data structure is essential to create data frames, our next covered topic.

# DataFrames
A DataFrame is a structure that is used for storing data tables. Underneath it all, a data frame is a list of vectors of identical length, exactly like a table (each vector is a column). 

We can use the function  `data.frame()` to create a data frame and pass vectors, which are our columns, as arguments. It is required to name the columns that will compose the data frame.

In [17]:
movies <-
  data.frame(
    name = c(
      "Toy Story",
      "Akira",
      "The Breakfast Club",
      "The Artist",
      "Modern Times",
      "Fight Club",
      "City of God",
      "The Untouchables"
    ),
    year = c(1995, 1998, 1985, 2011, 1936, 1999, 2002, 1987),
    stringsAsFactors = F
  )

Let's print the content of our recently created data frame:

In [18]:
movies

It's very easy! You can note how it looks like a table.

We can also use the `$` selector to get some type of information. This operator returns the content of a specific column of a data frame (that's why we have to choose a name for each column).

In [19]:
movies$name

You retrieve data using numeric indexing, like in lists:

In [20]:
# This returns the first (1st) column
movies[1]

## Coding Exercise 3:
In the code cell below, select the first row of movies data frame:

In [22]:
movies[1, ]

## Coding Exercise 4:
In the code cell below, select the first and second rows but only with first column selected from the movies data frame.

In [23]:
movies[1:2, 1]

The function called `str()` is one of the most useful functions in R. With this function you can obtain textual information about an object. In this case,  it delivers information about the objects within a data frame. Let's see what it returns:

In [24]:
str(movies)

It shows this data frame has 8 observations, for 2 columns, so called `name` and `year`. The "name" column is a factor with 8 levels and "year" is a numerical column. 

The `class()` function works for data frames as well. You can use it to determine the type of a column of a data frame.

In [25]:
class(movies$year)

You can use numerical selectors to reach information inside the table.

In [26]:
movies[1, 2] #1 - Toy Story, 2 - 1995

The `head()` function is very useful when you have a large table and you need to take a peek at the first elements. This function returns the first 6 values of a data frame (or event a list).

In [27]:
head(movies)

Similar to the previous function, `tail()` returns the last 6 values of a data frame or list.

In [28]:
tail(movies)

Now, let's try to get the row with name "Toy Story".

In [29]:
# Find the rows with name "Toy Story"
selected <- movies["name"] == "Toy Story"
# Get the selected row(s)
toy_story <- movies[selected, ]
toy_story

Now let's try to add a new column to our data frame with the length of each movie in minutes.

In [30]:
movies['length'] <- c(81, 125, 97, 100, 87, 139, 130, 119)
movies

A new column was included into our data frame with just one line of code. We just needed to add a vector to data frame, then it will be our new column.

Now let's try to add a new movie to our data set.

In [31]:
movies <- rbind(movies, c(name="Dr. Strangelove", year=1964, length=94))
movies

Remember, you can't add a list with more variables than the data frame, and vice-versa.

We don't need this movie anymore, so let's delete it. Here we are deleting row 12 by assigning to itself the movies dataframe without the 12th row.

In [32]:
movies <- movies[-12,]
movies

To delete a column you can just set it as `NULL`.

In [33]:
movies[["length"]] <- NULL
movies

That is it! You learned a lot about data frames and how easy it is to work with them.